<html>
  <head>
    <script src="/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script src="http://local.leapmotion:8080/leap.js"></script>
    <script src="/app.js"></script>
    <link href="/codemirror.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">tryleapjs</a>
          <ul class="nav">
            <% (1..3).each do |i| %>

              <li <% if i == @step %>class="active"<% end %>><a href="/<%= i %>"><%= i %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= yield %>

      <% if @step %><a href="/<%= @step.succ %>" class="btn-large btn btn-primary">Let's keep going!</a><% end %>
    </div>
  </body>
</html>